---
import Base from "../layouts/Base.astro";

import navlinks from "../../public/data/navlinks.json";
import lead from "../../public/data/lead.json";
import JoinWidget from '../components/JoinWidget.jsx';
import SiteEffects from '../components/SiteEffects.jsx';
import AboutSection from '../components/AboutSection.jsx';
import PartnersSection from '../components/PartnersSection.jsx';
import Header from '../components/Header.jsx';
import HeroSection from '../components/HeroSection.jsx';
import ServicesSection from '../components/ServicesSection.jsx';
import CommunitySection from '../components/CommunitySection.jsx';
import FaqSection from '../components/FaqSection.jsx';
import FooterSection from '../components/FooterSection.jsx';
---

<Base title="DevOps Manaus – Transformando o Futuro Tech da Amazônia">
    <div class="particles" id="particles"></div>

    <Header client:load navlinks={navlinks}/>
    <HeroSection client:load/>
    <AboutSection client:visible/>
    <PartnersSection client:visible/>
    <ServicesSection client:visible/>
    <CommunitySection client:visible/>
    <FaqSection client:visible/>
    <FooterSection client:visible/>
    <SiteEffects client:load/>
</Base>